<% if user_signed_in? %>

	<h1>You're logged in!</h1>

<% else %>	

<div class="hero-unit">
	<h1>Finding a Halal Spot made simple.</h1>
		<p>With one search you can find all the halal spots near you!</p>
			<!-- <form class="form-search">
					<input type="text" class="input-medium search query" placeholder="Enter your zip code or city">
					<button type="submit" class="btn">Search</button>
			</form> -->
</div>
<% end %>