
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">HalalSpot</a>
	<ul class="nav pull-right">
	  <li class="divider-vertical">
	    <li><a href="#">Login</a></li>	
		<li><a href="#">Sign up</a></li>
	  </li>
	</ul>
  </div>
</div>

		<div class="hero-unit">
		 <h1>Finding a Halal Spot made simple.</h1>
		 <p>With one search you can find all the halal spots near you!</p>
		<form class="form-search">
			<input type="text" class="input-medium search query" placeholder="Enter your zip code or city">
			<button type="submit" class="btn">Search</button>
		</form>
</div>

<footer>
	<div class="container">
		<p>Put together by Farooq Yousuf</p>
	</div>
</footer>


