<div class="row">
	<div class="row">
		<div class="row">
				<dl class="dl-horizontal">
						<dt>Name:</dt>
						<dd><%= review.reviewer %></dd>

						<dt>Review:<dt>
						<dd><%= review.body %></dd>
				</dl>
		</div>
	</div>
</div>