<% if user_signed_in? %>

<%= gmaps4rails(@json) %>

<h1>Listing Halal Spots</h1>

<table class="table table-striped">
	<thead>
  		<tr>			
			 <th>Image</th>
		   <th>Name</th>
		   <th>Address</th>
			 <th>State</th>
			 <th>City</th>
			 <th>Type</th>
		   <th>Description</th>
		   <th>Website</th>
		   <th></th>
		   <th></th>
		   <th></th>
		 </tr>
	</thead>

	<tbody>
		<%= render @places %>
	</tbody>

</table>

<br />

<% else %>

<%= render 'static_pages/home' %>

<% end %>